html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
    padding: 0;
    display: inline;
}

.container {
    max-width: 1020px;
    padding: 0 10 px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
    background-image: url(../img/фото.jpg);
    background-size: cover;
    background-position: center;

}

.content.content-on{
background-image: none;
background-color:rgb(228, 213, 233);
}

.header {
    height: 50px;
    background-color: rgb(179, 163, 224);
    padding-top: 15px;

}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_inner img {
    width:100px;
    
}

li {
    padding: 0 10px;
    
}

li a {
    color: #fff;
    font-size: 16px;
}

.active {
    font-weight: 900;
    color: rgb(228, 213, 233);
}
h1{
    color: rgb(179, 163, 224);
    font-size: 35px;
    text-align: center;
    background: rgb(228, 213, 233);
}

h2 {
    color: rgb(179, 163, 224);
    font-size: 48px;
    font-weight: 400;
    text-align: center;


}

article {
    background-color: #fff;
    border: 1px solid rgb(179, 163, 224);
    margin-bottom: 10px;
    padding: 30px 15px;
}

h3 {
    color: rgb(179, 163, 224);
    font-size: 30px;
    font-weight: 400;
}

.clothes_img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clothes_img img {
    width: 350px;
}

.about_img {
    text-align: center;
}

.about_img img {
    width: 500px;
    border-radius: 50%;
    border: 3px solid  rgb(179, 163, 224) ;
}

p {
   font-style: 12px;
   font-weight: 400; 
   color: rgb(179, 163, 224);
}


.footer {
flex: 0 0 auto;
display: flex;
justify-content: space-around;
align-items: center;
height: 50px;
color: #fff;
background: rgb(179, 163, 224);


}
